.slider {
    display: flex;
    width: 100%;
    height: 400px;
    gap: 20px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        border-radius: 0.5rem;
    }
}

.bigImage {
    flex: 3;
    transition: transform 0.3s ease-in-out;
}

.bigImage:hover {
    transform: scale(1.1);
}

.smalImages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    img {
        height: 120px;
        transition: transform 0.3s ease-in-out;
    }
}

.smalImages img:hover {
    transform: scale(1.1);
}

